torch==2.5.1
transformers==4.57.0
huggingface==0.36.2
trl==0.16.0
wandb==0.18.3
flash_attn==2.7.2.post1
deepspeed==0.15.4
spacy
ruamel.yaml
fairscale
# detectron2
accelerate
spacy==3.7.5
thinc==8.2.5
weasel
regex
attrdict
einops
datasets
multiprocess
py-cpuinfo
hpsv2
